* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  background-color:blanchedalmond;
  padding-bottom: 20px;
}
h1 {
  margin: 20px;
  text-align: center;
  font-size: 2.5rem;
  text-shadow: 1px 1px white;
}

header>button{
  background-color: gray;
  margin: auto;
  padding: 15px 30px;
  color: beige;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 2px white;
  font-size: 20px;
  cursor: pointer;
}

.product__list {
  max-width: 90%;
  margin: auto;
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: minmax(max-content, auto);
  gap: 30px
}

.product__list__card {
  display: flex;
  gap: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px 40px 10px;
  border: solid 1px gray;
  border-radius: 10px;
  background-color: aliceblue;
}

.product__list__card>p {
  text-align: center;
  padding: 20px;
}

.product__list__card>h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 5px 10px;
  font-size: 1.8rem;
  text-align: center;
}

.product__list__card>p {
  font-size: 1.3rem;
  line-height: 1.2;
}

.button__block {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
}

.button__block>button {
  padding: 5px 18px;
  width: min-content;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 2px 2px 4px white;
}

@media screen and (max-width: 1100px){
  .product__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 800px){
  .product__list {
    grid-template-columns: 1fr;
  }
}